# Python基础

### 目录
- python简介
- 安装和运行
- 基本数据类型
- 变量和表达式
- 字符串
- list
- 判断语句
- 循环语句
- set, tuple, dictionary

# Python简介
- 官网: https://www.python.org/
- 版本: **3.6**/2.7
- 脚本语言，语法、调试都很方便，非常适合编程菜鸟入门

## Python安装

### Anaconda安装
- Anaconda是一个常用的用于数据分析的Python版本管理系统
- 从[官网](https://www.continuum.io/downloads)下载相应版本
- 按照提示安装

### Anaconda environment安装
- 安装一个新的environment: conda create -n [your_environment_name] python=[your_python_version]
- 进入已经安装的environment: source activate [your_environment_name]
- 在windows下使用: activate [your_environment_name]
- 退出当前environment: source deactivate
- 查看environment: conda info --envs
- 更多的conda命令请查询官网文档: https://conda.io/docs/index.html

### 在environment下安装libraries
- pip install [package_name]

## 运行Python
1. 在命令行上输入python
2. 用文本编辑器写完一段程序然后运行

## 如何寻找帮助
- 官方文档
- debug: 学会读报错信息
- Goole和Stackoverflow

## python程序基础
### 用python做计算器
- +, -, *
- /, //
- \*\*

In [2]:
12 + 22

34

In [3]:
15 * 3.6

54.0

In [4]:
25 - 4.3

20.7

In [5]:
25 / 4

6.25

In [7]:
25 // 4

6

In [9]:
3.5 ** 4.5

280.7412308013823

- =, ==
- string
- escape

# Python基本数据类型、变量、运算和表达式

## 变量
- 变量赋值(assignment)

## 基本数据类型
- 整型int
- 浮点float
- 数据类型强制转换
- 四则运算
- 字符串str
- bool

## 动态类型
- python是一种动态类型的语言
- type(来查看变量类型)

In [10]:
x = 12
type(x)

int

In [11]:
x = -5.4
type(x)

float

In [12]:
x = "Julyedu"
type(x)

str

In [13]:
x = None
type(x)

NoneType

## 表达式(expression)
- 引用变量
- x += x, x *= y, x /= y
- python会用表达式计算（返回）出一个结果

## 指令(statement)
- python会执行一条指令，未必会返回一个结果
- expression可以被当做一个statement，但是statement一般不是一个expression
- 赋值statement

In [14]:
x = 12
x + 5

17

x

In [16]:
x += 5
x

17

## 字符串(string)

quote ' 和double quote " 都可以用作字符串

In [17]:
'Julyedu'

'Julyedu'

In [18]:
"Julyedu"

'Julyedu'

两者之间在表示一个字符串上没有区别，但是一个字符串的开头和结尾必须使用同一种引号。
backslash \ 可以用来escape引号。

In [20]:
'I\'m gonna get up at 4am tomorrow'

"I'm gonna get up at 4am tomorrow"

当然也可以使用两种不同的引号来区分究竟是字符串结尾还是字符串中出现了引号。

In [22]:
"I'm gonna get up at 4am tomorrow"

"I'm gonna get up at 4am tomorrow"

如果一个string有好多行

In [23]:
print("""first line
second line
third line""")

first line
second line
third line

\n 是换行符，可以用在strign中换行

In [25]:
print("first line\nsecond line\nthirdline")

first line
second line
thirdline

\t是tab键

+可以把两个string连到一起(concatenation)

In [26]:
"hello" + " " + "world"

'hello world'

## string indexing and slicing
- indexing

In [28]:
w = "Julyedu"
w[0]

'J'

In [29]:
w[1]

'u'

In [31]:
w[-1]

'u'

In [32]:
w[-3]

'e'

In [33]:
w[-100]

IndexError: string index out of range

- slicing

In [34]:
w[1:3]

'ul'

In [35]:
w[:3]

'Jul'

In [36]:
w[5:7]

'du'

In [37]:
w[5:-1]

'd'

In [38]:
w[5:]

'du'

In [39]:
w[5:100]

'du'

In [40]:
w[-1:100]

'u'

## 字符串函数

- upper and lower

In [41]:
w.upper()

'JULYEDU'

In [42]:
w.lower()

'julyedu'

In [43]:
w.capitalize()

'Julyedu'

- startswith and endswith

In [44]:
w.endswith("du")

True

In [45]:
w.endswith("u")

True

In [46]:
w.startswith("J")

True

In [47]:
w.startswith("j")

False

In [48]:
w.startswith("Ju")

True

- strip

In [50]:
w = "   Julyedu  "
w.strip()

'Julyedu'

In [51]:
w.lstrip()

'Julyedu  '

In [52]:
w.rstrip()

'   Julyedu'

- split
把一个string拆成一个list of strings

In [54]:
s = "burger spaghetti fries steak dimsum ramen"
s.split()

['burger', 'spaghetti', 'fries', 'steak', 'dimsum', 'ramen']

In [55]:
s = "burger,spaghetti,fries,steak,dimsum,ramen"

In [56]:
s.split(",")

['burger', 'spaghetti', 'fries', 'steak', 'dimsum', 'ramen']

- find: 找到第一个substring出现的位置

In [57]:
w.find("ly")

5

In [59]:
w.find("l")

5

如果输入一个不存在的substring那就会返回-1了

In [60]:
w.find("a")

-1

- replace

In [61]:
s.replace(",", "|")

'burger|spaghetti|fries|steak|dimsum|ramen'

# List

list 是一种python的数据类型，表示一连串的数据的集合。

- 如何创建一个list

In [62]:
names = ["Tensorflow", "July", "Keras", "Torch", "Caffe"]
names

['Tensorflow', 'July', 'Keras', 'Torch', 'Caffe']

In [63]:
type(names)

list

- list indexing

In [64]:
names[0]

'Tensorflow'

In [65]:
names[1]

'July'

In [66]:
names[5]

IndexError: list index out of range

In [67]:
names[4]

'Caffe'

In [68]:
names[-1]

'Caffe'

In [70]:
names[-5]

'Tensorflow'

In [71]:
names[-10]

IndexError: list index out of range

- list slicing

In [72]:
names[1:3]

['July', 'Keras']

In [73]:
names[1:5]

['July', 'Keras', 'Torch', 'Caffe']

In [74]:
names[1:7]

['July', 'Keras', 'Torch', 'Caffe']

In [75]:
names[1:-1]

['July', 'Keras', 'Torch']

In [76]:
names[1:0]

[]

- 我们可以直接把string变成一个list

In [77]:
list("Julyedu")

['J', 'u', 'l', 'y', 'e', 'd', 'u']

- 求list的长度

- append方法可以在list的末尾添加element

In [80]:
names.append("Jack")
names

['Tensorflow', 'July', 'Keras', 'Torch', 'Caffe', 'Jack', 'Jack']

In [81]:
names.append(12)
names.append(12.5)
names.append([1,2,3])
names

['Tensorflow',
 'July',
 'Keras',
 'Torch',
 'Caffe',
 'Jack',
 'Jack',
 12,
 12.5,
 [1, 2, 3]]

- 两个list相加合并成新的list

In [82]:
numbers = [1,2,3,4,5]
names + numbers

['Tensorflow',
 'July',
 'Keras',
 'Torch',
 'Caffe',
 'Jack',
 'Jack',
 12,
 12.5,
 [1, 2, 3],
 1,
 2,
 3,
 4,
 5]

- 判断一个element是否在一个list里面

In [83]:
names = ["Tensorflow", "July", "Keras", "Torch", "Caffe"]

In [84]:
"July" in names

True

- insert

In [85]:
names.insert(2, "Happy")
names

['Tensorflow', 'July', 'Happy', 'Keras', 'Torch', 'Caffe']

In [86]:
names.insert(-1, "Sad")
names

['Tensorflow', 'July', 'Happy', 'Keras', 'Torch', 'Sad', 'Caffe']

In [87]:
names.insert(12, "Awesome")
names

['Tensorflow', 'July', 'Happy', 'Keras', 'Torch', 'Sad', 'Caffe', 'Awesome']

In [88]:
names.insert(-100, "Bazinga")
names

['Bazinga',
 'Tensorflow',
 'July',
 'Happy',
 'Keras',
 'Torch',
 'Sad',
 'Caffe',
 'Awesome']

- pop

In [90]:
names.pop()

'Caffe'

In [91]:
names

['Bazinga', 'Tensorflow', 'July', 'Happy', 'Keras', 'Torch', 'Sad']

- count

In [92]:
names.count("Tensorflow")

1

- reverse

In [95]:
names.reverse()
names

['Sad', 'Torch', 'Keras', 'Happy', 'July', 'Tensorflow', 'Bazinga']

- del删除element

In [96]:
del(names[1])

In [97]:
names

['Sad', 'Keras', 'Happy', 'July', 'Tensorflow', 'Bazinga']

## control statement

In [98]:
x = 12
if x < 10:
    print("less than 10")
elif x <= 15:
    print("between 10 and 15")
else:
    print("larger than 15")

between 10 and 15

### 关于Boolean

## loops
### for loop

In [99]:
names = ["Tensorflow", "July", "Keras", "Torch", "Caffe"]
for name in names:
    print(name)

Tensorflow
July
Keras
Torch
Caffe

range function

In [100]:
for i in range(5):
    print(i)

0
1
2
3
4

关于range的用法

In [101]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [103]:
list(range(5,20,5))

[5, 10, 15]

In [104]:
list(range(5,20,3))

[5, 8, 11, 14, 17]

In [105]:
list(range(5,20,-1))

[]

In [106]:
list(range(20,5,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6]

In [107]:
list(range(20,5,-4))

[20, 16, 12, 8]

In [108]:
list(range(20,5,-4))

[20, 16, 12, 8]

如果我们想在每个element前面加个数字编号呢？

In [109]:
for i in range(len(names)):
    print(i, names[i])

0 Tensorflow
1 July
2 Keras
3 Torch
4 Caffe

其实用enumerate更简单，直接帮你带上数字

In [110]:
for i, name in enumerate(names):
    print(i, name)

0 Tensorflow
1 July
2 Keras
3 Torch
4 Caffe

for与list在一起使用可以写很多简洁的语句, list comprehension

In [111]:
["stupid " + name for name in names]
['stupid Tensorflow', 'stupid July', 'stupid Keras', 'stupid Torch', 'stupid Caffe']

['stupid Tensorflow',
 'stupid July',
 'stupid Keras',
 'stupid Torch',
 'stupid Caffe']

## while loop

下面的这个小程序可以输出0-9

In [112]:
i = 0
while i < 10:
	print(i)
	i += 1

0
1
2
3
4
5
6
7
8
9

注意千万别忘了最后这一句```i += 1```否则就陷入死循环了。

### break和continue的用法
- break会直接让你跳出当前的循环

In [113]:
i = 0
while 1:
	print(i)
	i += 1
	if i >= 10:
		break

0
1
2
3
4
5
6
7
8
9


- continue则会让你结束当前循环的环节直接跳到下一循环

In [114]:
i = 0
while 1:
	if i % 5 == 0:
		i += 1
		continue
	print(i)
	i += 1
	
	if i >= 20:
		break

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

## 小练习：输出一个fibonacci数列

In [116]:
print("while loop:")
fibs = []
i = 0
j = 1
while i < 500:
	fibs.append(i)
	tmp = j
	j = i + j
	i = tmp
print(fibs)

while loop:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## set

In [117]:
names = {"tensorflow", "pytorch", "julyedu", "jupyter", "python", "numpy"}
names

{'julyedu', 'jupyter', 'numpy', 'python', 'pytorch', 'tensorflow'}

In [118]:
type(names)

set

In [119]:
empty_set = set()
empty_set

set()

- list可以被转换成set，可以用于去重

In [120]:
numbers = [1,4,5,2,1,5,4,2]
numbers

[1, 4, 5, 2, 1, 5, 4, 2]

In [121]:
set(numbers)

{1, 2, 4, 5}

In [122]:
list(set(numbers))

[1, 2, 4, 5]

- string也可以被转换成set

In [123]:
set("banana")

{'a', 'b', 'n'}

- 比较fancy的一个例子, set comprehension

In [124]:
{x for x in "banana" if x not in "an"}

{'b'}

## tuple
tuples有点像list，不过一个很大的区别是tuples是immutable的，也就是说它的element一旦创建之后就无法更改了。

In [125]:
t = 1, "facebook", "palo alto"
t

(1, 'facebook', 'palo alto')

In [126]:
x, y, z = t
x
y
z

'palo alto'

## dictionary

dictionary就是字典，也就是把一个元素map到另一个元素上

In [127]:
fruit = {'apple': 0, 'banana': 2, 'orange': 3, 'pineapple': 4}

In [128]:
fruit["apple"]

0

In [129]:
fruit["banana"]

2

下面的方法可以帮助我们查看一个dictionary的keys和values

In [130]:
fruit.keys()

dict_keys(['apple', 'banana', 'orange', 'pineapple'])

In [131]:
fruit.values()

dict_values([0, 2, 3, 4])

- 一个list of tuples也可以转换成dict。

In [132]:
schools = dict([("Harvard",1), ("Princeton",2), ("Yale",3), ("Stanford",4), ("MIT",5), ("Chicago",6)])
schools

{'Chicago': 6,
 'Harvard': 1,
 'MIT': 5,
 'Princeton': 2,
 'Stanford': 4,
 'Yale': 3}

有时候我们想把一个list编号做成一个dictionary，比如下面这种情况:

In [133]:
vocab = ["apple", "bit", "chrome", "face", "google", "hack", "intern", "jack", "kaggle"]

In [134]:
vocab

['apple',
 'bit',
 'chrome',
 'face',
 'google',
 'hack',
 'intern',
 'jack',
 'kaggle']

In [135]:
vocab2idx = {v:k for k, v in enumerate(vocab)}

In [136]:
vocab2idx

{'apple': 0,
 'bit': 1,
 'chrome': 2,
 'face': 3,
 'google': 4,
 'hack': 5,
 'intern': 6,
 'jack': 7,
 'kaggle': 8}

## function

- def关键词
- 用括号包含list of parameters
- statements都要indent


### 不定长度的arguments

### default argument
concat例子



### 把一个tuple/list当做arguments